/**
 * Blocks styling
 *
 * @package Aqua Page Builder
 */

/*basic form elements*/
.block-settings p.description.half {
	width: 49%;
	margin-right: 2%;
	float: left;
}
.block-settings p.description.third {
	width: 31.33%;
	margin-right: 2%;
	float: left;
}
.block-settings p.description.two-third {
	width: 62.66%;
	margin-right: 2%;
	float: left;
}
	.block-settings p.description.half.last,
	.block-settings p.description.third.last
	.block-settings p.description.two-third.last {
		margin-right: 0;
	}
	.span2 .block-settings p.description.half,
	.span3 .block-settings p.description.half,
	.span4 .block-settings p.description.half,
	.span5 .block-settings p.description.half,
	.span6 .block-settings p.description.half,
	.span7 .block-settings p.description.half,
	.span2 .block-settings p.description.third,
	.span3 .block-settings p.description.third,
	.span4 .block-settings p.description.third,
	.span5 .block-settings p.description.third,
	.span6 .block-settings p.description.third,
	.span7 .block-settings p.description.third,
	.span2 .block-settings p.description.two-third,
	.span3 .block-settings p.description.two-third,
	.span4 .block-settings p.description.two-third,
	.span5 .block-settings p.description.two-third,
	.span6 .block-settings p.description.two-third,
	.span7 .block-settings p.description.two-third {
		width: 100%;
		margin-right: 0;
		float: none;
	}
	
/*inputs*/
.block-settings input[type="text"], .block-settings textarea { 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
	.block-settings .input-min { width: 50px; }
	.block-settings .input-small { width: 150px; }
	.block-settings .input-full { width: 100%; }

	.block-settings .textarea-full { width: 100%; }
	
.block-settings .description-float { 
	margin-right: 10px;
	float: left;
}

/*columns*/
#blocks-to-edit .block-column {
	padding: 4px;
	background: #FCFCFC;
	margin: 8px -5px -5px 15px;
	border: 1px dotted #E3E3E3;
	max-width: 734px;
}
#blocks-to-edit .block-column ul.blocks { 
	min-height: 50px;
	padding: 0;
	margin: 0 0 0 -20px;
	width: 110%;
}
#blocks-to-edit .empty-column { 
	margin: 0;
	padding: 8px 10px 0;
	color: #888;
}
/** Customs
Insert your own custom CSS below this line **/
#blocks-archive .block-featured_portfolio .block-title { font-size: 11px; }